#title{
    background-color: #EFDAD7;
}
.navbar{
    background-color: #1572A1;
    padding-left: 200px;
}
.navbar-brand{
    font-weight: bold;
    font-size: 28px;
}
.navbar-nav{
    margin: auto;
}
.nav-item{
    padding: 5px;
}
.nav-link{
    font-size: 18px;
}
.heading{
    color: #1572A1;
    font-family: 'Montserrat-bold';
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: left;
}

.container-fluid{
   padding: 3% 15% 5%;
   /* z-index: 2; */
   /* margin: 30px 0px 0px 10px; */
   /* position: relative; */
}
.phone{
    transform: rotate(25deg);
    height: 500px;
    width: 60%;
    padding: 3%;
    position: absolute;
    right:3%;
    top:10%;
   
}

#features{
    
    position: relative;
    z-index: 1;
    background-color: white;
    
}
.features-block{
    margin: 0 5% 3%;
   
}

.feature-item{
    text-align: center;
    padding: 6%;
    z-index: 2;
}

.icon{
    color: #1572A1;
    padding: 3%;
}
.icon:hover{
    color: #E3BEC6;
}
.feature-heading{
    color: black;
    font-family: 'Montserrat-bold';
    font-weight: bolder;
    font-size: 1.5rem;
    line-height: 1.5;
}

.feature-paragraph{
    color:#8f8f8f;
    font-size: 18px;
}

/* <!-- Testimonials  --> */

#testimonials{
    background-color: #EFDAD7;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
    
}

/* Press */

.press-item{
    padding: 2%;
    margin: 3% 0 2% 4%;
    width: 20%;
}


  /* Pricing  */

#pricing{
    background-color: #EFDAD7;
    padding: 3% 7%;
    text-align: center;
    /* position: relative;
    top: 700px; */
}

.pricing-title
{
    color: #1572A1;
    margin: 4% 0;
    
}  
.card{
    text-align: center;
}
.pricing-buttons{
    background-color:  #1572A1;
    color: white;
 }
 